:root {
  --primary-white: #fff;
  --primary-green: green;
  --primary-dark: rgba(255, 255, 255, 0);
}

nav a.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.037rem;
  cursor: pointer;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  background: linear-gradient(
    to right,
    rgb(255, 196, 0),
    rgb(200, 255, 0),
    rgb(0, 128, 6)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-green);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-green);
}

nav {
  z-index: 2;
}

.navbar-brand {
  text-transform: uppercase;

  border-top: 0.1875rem solid var(--primary-dark);
}
